@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", sans-serif;
}
*{
  margin: 0;
}
:root{
  --red: #d01c28;
  --grey: #2e2e2e;
}
.container{
  margin: 0 auto;
  max-width: 1280px;
}
nav{
  display: flex;
  justify-content: space-between;
  height: 72px;
  align-items: center;
}
nav>ul{
  display: flex;
  list-style-type: none;
  gap: 24px;
}
a{
  text-decoration: none;
}
button{
  /*  : unset; */
  padding: 6px 16px;
  background: var(--red);
  height: 32px;
  color: white;
  font-weight: 500;
  border: none;
}
.hero{
  display: flex;
align-items: center;
height: calc(100vh - 72px);
}
.hero h1{
  font-weight: 800;
  line-height: 102px;
  font-size: 108px;
}
.hero p{
  font-weight: 600;
  color : var(--grey);
  max-width: 400px;

}
.hero-btn{
  display: flex;
  gap: 40px;
}
.hero-btn button{
  font-size: 24px;
}
.hero-content{
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.hero-image {
  perspective: 1000px; /* Add depth to the image */
  display: inline-block;
}

.hero-image img {
  width: 500px; /* Adjust the size as needed */
  height: auto;
  transform-style: preserve-3d; /* Maintain 3D transformations */
}
.hero-image img:hover{
  animation: roll 5s infinite linear; /* Define the rolling animation */

}

@keyframes roll {
  0% {
    transform: rotateY(0deg); /* Initial position */
  }
  100% {
    transform: rotateY(360deg); /* Full rotation */
  }
}
.secondary-btn{
  background: transparent;
  color: var(--grey);
  border: 1px solid grey;
}
.shopping p{
  font-size: 14px;
  margin-bottom: 8px;
}
.brand-icons{
  display: flex;
  gap: 16px;

}
